@charset "UTF-8";
/*------------estilos globales  */
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css";
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #ffffff;
  background-color: #ffffff;
  background-image: radial-gradient(circle farthest-corner at center, rgb(215, 169, 169) 20%, rgb(244, 196, 196) 40%, rgb(255, 224, 224) 60%, rgb(255, 253, 253) 80%, rgb(255, 255, 255) 100%);
  background-size: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: #ffffff;
    background-color: #ffffff;
    background-image: radial-gradient(circle farthest-corner at center, rgb(215, 169, 169) 20%, rgb(244, 196, 196) 40%, rgb(255, 224, 224) 60%, rgb(255, 253, 253) 80%, rgb(255, 255, 255) 100%);
    background-size: 100%;
  }
}
button {
  padding: 10px;
  background-color: #bc948c;
  color: black;
  border-radius: 20px;
  border: blanchedalmond;
  cursor: pointer;
}

/*------------------home--------------------*/
#Home {
  background-image: url("../img/fondohome.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.homer {
  box-sizing: border-box;
  width: 100%;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homer .titulo {
  text-align: center;
}
.homer .titulo h1 {
  font-size: 3em;
  margin-bottom: 20px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotateX(20deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}
.homer h3 {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  justify-content: center;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotateX(20deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}

a {
  text-decoration: none;
  color: white;
}

/*---------------Sobre MI -----------------*/
main.sobremMi {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  padding: 5px;
}
main.sobremMi img {
  width: 50%;
  height: auto;
  padding: 5px;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 10px;
  animation: desaparecer 5s infinite;
}
@keyframes desaparecer {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
main.sobremMi section {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 10px;
}
main.sobremMi section h2,
main.sobremMi section p {
  text-align: center;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@media screen and (max-width: 768px) {
  main.sobremMi {
    flex-direction: column;
  }
  main.sobremMi img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  main.sobremMi section {
    width: 100%;
    padding: 20px;
    font-size: 12px;
    box-sizing: border-box;
    align-items: center;
  }
  main.sobremMi section h2,
  main.sobremMi section p {
    text-align: center;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}
@media screen and (max-width: 576px) {
  main.sobremMi {
    flex-direction: column;
  }
  main.sobremMi img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  main.sobremMi section {
    width: 100%;
    padding: 20px;
    font-size: 12px;
    box-sizing: border-box;
    align-items: center;
  }
  main.sobremMi section h2,
  main.sobremMi section p {
    text-align: center;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

/*-----------------------------------------------------*/
/*---------Servicios-----------*/
.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}
.servicios .headertitle {
  text-align: center;
  margin-top: 30px;
}
.servicios h2 {
  color: black;
  margin-bottom: 20px;
}
.servicios .tarjeta0 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.servicios .card {
  position: relative;
  width: 300px;
  height: 480px;
  margin: 20px;
}
.servicios .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.servicios .card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px rgb(215, 169, 169);
}
.servicios .card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servicios .card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  line-height: 1.2;
  color: black;
  background: rgba(215, 169, 169, 0.4);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
.servicios .card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(215, 169, 169);
  padding: 15px;
  color: #f3f3f3;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.servicios .card .back h4 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.servicios .card .back p {
  letter-spacing: 1px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
.servicios .card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.servicios .card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
.servicios .servicioContacos {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin: 5px;
  overflow: auto;
}
.servicios .servicioContacos p {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}
.servicios .servicioContacos a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .servicios .tarjeta0 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.servicios .servicioContacos {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin: 5px;
  overflow: auto;
}
.servicios .servicioContacos p {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}
.servicios .servicioContacos a {
  text-decoration: none;
}
@media screen and (max-width: 576x) {
  .servicios .tarjeta0 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicios .servicioContacos {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin: 5px;
    overflow: auto;
  }
  .servicios .servicioContacos p {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .servicios .servicioContacos a {
    text-decoration: none;
  }
}

/*------------Proyectos--------------*/
.proyectos {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

#gridProyectos {
  width: auto;
  height: auto;
  margin: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
#gridProyectos > div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}

.grid1 {
  grid-area: grid1;
  background-color: black;
  color: white;
}

.grid2 {
  grid-area: grid2;
  background-color: black;
  color: white;
}

.grid3 {
  grid-area: grid3;
  background-color: black;
  color: white;
}

.grid4 {
  grid-area: grid4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
}

.nuestroObjetivo {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  min-width: 40%;
  min-height: 30%;
  padding: 30px;
  margin: 5px 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-align: center;
  overflow: auto;
}

.grid4 img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.nuestroObjetivo p {
  text-align: center;
}

.nuestroObjetivo h3 {
  text-align: center;
}

.grid5 {
  grid-area: grid5;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  min-width: 40%;
  min-height: 30%;
  padding: 20px;
  margin: 20px 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.grid5 .text-container {
  max-width: 100%;
}

.grid5 img {
  width: 100px;
  height: 100px;
}

.grid5 h3,
.grid5 h4,
.grid5 p {
  margin: 10px 0;
}

.grid5 h3 {
  font-size: 1.5em;
  color: #333;
}

.grid5 h4 {
  font-size: 1.2em;
  color: #555;
}

.grid5 p {
  margin-bottom: 15px;
}

#gridProyectos {
  display: grid;
  gap: 5px;
  grid-template-areas: "grid1 grid2 grid3" "grid4 grid4 grid5";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15% 1fr;
  min-width: 100vw;
}

@media screen and (max-width: 768px) {
  #gridProyectos {
    width: auto;
    height: auto;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #gridProyectos > div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
  }
  .grid1 {
    grid-area: grid1;
    background-color: black;
    color: white;
  }
  .grid2 {
    grid-area: grid2;
    background-color: black;
    color: white;
  }
  .grid3 {
    grid-area: grid3;
    background-color: black;
    color: white;
  }
  .grid4 {
    grid-area: grid4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nuestroObjetivo {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    min-width: 40%;
    min-width: 30%;
    padding: 30px;
    margin: 5px 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: center;
  }
  .grid4 img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  .nuestroObjetivo p {
    text-align: center; /* Centrar el contenido del párrafo */
  }
  .nuestroObjetivo h3 {
    text-align: center; /* Centrar el texto dentro de h3 */
  }
  .grid5 {
    grid-area: grid5;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    min-width: 40%;
    min-height: 30%;
    padding: 30px;
    margin: 5px 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .grid5 img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 576px) {
  #gridProyectos {
    width: auto;
    height: auto;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #gridProyectos > div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
  }
  .grid1 {
    grid-area: grid1;
    background-color: black;
    color: white;
  }
  .grid2 {
    grid-area: grid2;
    background-color: black;
    color: white;
  }
  .grid3 {
    grid-area: grid3;
    background-color: black;
    color: white;
  }
  .grid4 {
    grid-area: grid4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nuestroObjetivo {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    min-width: 40%;
    min-width: 30%;
    padding: 30px;
    margin: 5px 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: center;
  }
  .grid4 img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  .nuestroObjetivo p {
    text-align: center; /* Centrar el contenido del párrafo */
  }
  .nuestroObjetivo h3 {
    text-align: center; /* Centrar el texto dentro de h3 */
  }
  .grid5 {
    grid-area: grid5;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    min-width: 40%;
    min-height: 30%;
    padding: 30px;
    margin: 5px 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .grid5 img {
    width: 200px;
    height: 200px;
  }
}
/* --------------Contactos --------------- */
.formulario {
  box-sizing: border-box;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

label, input, select, textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/*--header pagina incio ---*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header .headerList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
header .headerList li {
  margin: 0 10px;
  color: white;
}

/*----- header del resto paginas---*/
.backgroundHeader {
  font-family: "Inter", sans-serif;
  background-image: url("../img/headersobremi.png");
  height: 5%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}
header h1 {
  font-size: 50px;
  margin: 10px 0;
  color: white;
  animation: desaparecer 2s infinite;
}
@keyframes desaparecer {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
header #idmobile {
  display: none;
}

/*------------NAV-----------------*/
nav {
  display: flex;
  margin-left: auto;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
nav ul li {
  margin: 0 10px;
  padding: 0 10px;
}
nav ul a {
  color: white;
  border-radius: 50px;
  padding: 10px;
}
nav ul a:hover {
  background-color: white;
  color: black;
}
nav #idmobile {
  display: none;
}
@media screen and (max-width: 576px) {
  nav #idmobile {
    display: block;
  }
}
nav #desktop {
  display: block;
}
@media screen and (max-width: 576px) {
  nav #desktop {
    display: none;
  }
}

/*--------- FOOTER ---------*/
footer {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
footer > div {
  padding: 40px 0;
}
footer .box1 a {
  text-decoration: none;
  color: black;
}
footer .footerColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
footer .colorDeFondo {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  width: 100%;
  box-sizing: border-box;
}
footer .footerList {
  padding: 0;
  margin: 0;
  text-align: center;
}
footer .footerList li {
  display: inline-block;
  margin: 0 20px;
}
footer .footerList li a {
  color: #000;
}
footer .box2 {
  margin: 0px 10px;
  padding: 10px;
  text-align: center;
  color: black;
}
footer .map-container {
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  height: 150px;
}
footer .map-container iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
footer .whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
footer .whatsapp-icon img {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  footer {
    /* Estilo para el icono de WhatsApp */
    /* Añade estilos adicionales según sea necesario */
  }
  footer footer {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }
  footer .footerColumns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  footer .box1 h3 {
    text-align: center;
  }
  footer .box1 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .box1 a {
    text-decoration: none;
    color: black;
  }
  footer .footerList {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  footer .footerList li {
    display: inline-block;
    margin: 0 20px;
  }
  footer .footerList li a {
    color: #000;
  }
  footer .box2 {
    margin: 0px 10px;
    padding: 10px;
    text-align: center;
    color: black;
  }
  footer .whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
  footer .whatsapp-icon img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 576px) {
  footer {
    /* Estilo para el icono de WhatsApp */
    /* Añade estilos adicionales según sea necesario */
  }
  footer footer {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }
  footer .footerColumns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  footer .box1 h3 {
    text-align: center;
  }
  footer .box1 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .box1 a {
    text-decoration: none;
    color: black;
  }
  footer .footerList {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  footer .footerList li {
    display: inline-block;
    margin: 0 20px;
  }
  footer .footerList li a {
    color: #000;
  }
  footer .box2 {
    margin: 0px 10px;
    padding: 10px;
    text-align: center;
    color: black;
  }
  footer .whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
  footer .whatsapp-icon img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}

/*# sourceMappingURL=style.css.map */
