/*------------------home--------------------*/
#Home {
  @include boxModel();
  background-image: url("../img/fondohome.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.homer {
   @include flexGlobal(null);
  box-sizing: border-box;
  width: 100%;
  min-height: 85vh;
 
  .titulo {
    text-align: center;
    h1 {
      font-size: 3em;
      margin-bottom: 20px;
      animation-name: spin;
      animation-duration: 5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes spin {
      from {
        transform: rotateX(20deg) rotateY(0deg);
      }

      to {
        transform: rotateX(-20deg) rotateY(360deg);
      }
    }
  }
  h3 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    justify-content: center;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes spin {
    from {
      transform: rotateX(20deg) rotateY(0deg);
    }

    to {
      transform: rotateX(-20deg) rotateY(360deg);
    }
  }
}
a {
  text-decoration: none;
  color: white;
}