/*------------Proyectos--------------*/

.proyectos {
  
  font-family: "Inter", sans-serif;
  

  #gridProyectos {
    @include tamaño(auto, auto);
    margin: 5px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 85vh;
    

    > div {
      @include flexGlobal(null);
      text-align: center;
      text-decoration: none;
      list-style: none;
    }
  }

  .grid1 {
    grid-area: grid1;
    background-color: black;
    color: white;
  }

  .grid2 {
    grid-area: grid2;
    background-color: black;
    color: white;
  }

  .grid3 {
    grid-area: grid3;
    background-color: black;
    color: white;
  }

  .grid4 {
    grid-area: grid4;
    @include flexGlobal(column, null);
    font-size: 20px;
  }

  .nuestroObjetivo {
    @include flexGlobal(row, null, null);
    @include bordes(30px, 10px, null, black);
    background-color: white;
    min-width: 40%;
    min-height: 30%;
    margin: 5px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: center;
    overflow: auto;
  }

  .grid4 img {
    @include tamaño(200px, 200px);
    margin-right: 14px;
  }
  .nuestroObjetivo p {
    text-align: center;
   
  }

  .nuestroObjetivo h3 {
    text-align: center;
  }

  .grid5 {
    grid-area: grid5;
    @include flexGlobal(column, null, null);
    @include bordes(30px, 10px, null, black);
    background-color: white;
    min-width: 40%;
    min-height: 30%;
    margin: 20px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
}
.grid5 .text-container {
  max-width: 100%;
}

.grid5 img {
  @include tamaño(100px, 100px);
}

.grid5 h3,
.grid5 h4,
.grid5 p {
  margin: 10px 0;
}

.grid5 h3 {
  font-size: 1.5em;
  color: #333;
}

.grid5 h4 {
  font-size: 1.2em;
  color: #555;
}

.grid5 p {
  margin-bottom: 15px;
}

#gridProyectos {
  display: grid;
  gap: 5px;
  grid-template-areas:
    "grid1 grid2 grid3"
    "grid4 grid4 grid5";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% 1fr;
  min-width: 100vw;
}

@media screen and (max-width: 768px) {
  #gridProyectos {
    @include flexGlobal(column, null);
    @include tamaño(auto, auto);
    @include bordes(null, 10px, 1px solid #ddd, null);
    margin: 5px;
  }
  #gridProyectos > div {
    @include flexGlobal(null);
    text-align: center;
    text-decoration: none;
    list-style: none;
  }

  .grid1 {
    grid-area: grid1;
    background-color: black;
    color: white;
  }

  .grid2 {
    grid-area: grid2;
    background-color: black;
    color: white;
  }

  .grid3 {
    grid-area: grid3;
    background-color: black;
    color: white;
  }
  .grid4 {
    grid-area: grid4;
    @include flexGlobal(column, null, center);
  }

  .nuestroObjetivo {
    @include flexGlobal(column, null null);
    @include bordes(30px, 10px, null, black);
    background-color: white;
    min-width: 40%;
    min-width: 30%;
    margin: 5px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: center;
  }

  .grid4 img {
    @include tamaño(200px, 200px);
    margin-right: 20px;
  }
  .nuestroObjetivo p {
    text-align: center;
    font-size: 1;
  }

  .nuestroObjetivo h3 {
    text-align: center;
  }

  .grid5 {
    grid-area: grid5;
    @include flexGlobal(column, null, null);
    @include bordes(30px, 10px, null, black);
    background-color: white;
    min-width: 40%;
    min-height: 30%;
    margin: 5px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .grid5 img {
    @include tamaño(200px, 200px);
  }
}

@media screen and (max-width: 576px) {
  #gridProyectos {
    @include flexGlobal(column, null, center);
    @include tamaño(auto, auto);
    @include bordes(null, 10px, 1px solid #ddd);
    margin: 5px;
  }
  #gridProyectos > div {
    @include flexGlobal(null);
    text-align: center;
    text-decoration: none;
    list-style: none;
  }

  .grid1 {
    grid-area: grid1;
    background-color: black;
    color: white;
  }

  .grid2 {
    grid-area: grid2;
    background-color: black;
    color: white;
  }

  .grid3 {
    grid-area: grid3;
    background-color: black;

    color: white;
  }
  .grid4 {
    grid-area: grid4;
    @include flexGlobal(column, null, center);
  }

  .nuestroObjetivo {
    @include flexGlobal(column, null, null);
    @include bordes(30px, 10px, null, black);
    background-color: white;
    min-width: 40%;
    min-width: 30%;
    margin: 5px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: center;
  }

  .grid4 img {
    @include tamaño(200px, 200px);
    margin-right: 20px;
  }
  .nuestroObjetivo p {
    text-align: center;
  }

  .nuestroObjetivo h3 {
    text-align: center;
  }

  .grid5 {
    grid-area: grid5;
    @include flexGlobal(column, null, null);
    @include bordes(30px, 10px, null, black);
    background-color: white;
    min-width: 40%;
    min-height: 30%;
    margin: 5px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .grid5 img {
    @include tamaño(200px, 200px);
  }
}
