/*---------Servicios-----------*/
.servicios {
  @include flexGlobal(column);
  min-height: 100vh;
  font-family: "Inter", sans-serif;

  .headertitle {
    text-align: center;
    margin-top: 30px;
  }

  h2 {
    color: black;
    margin-bottom: 20px;
  }

  .tarjeta0 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .card {
    position: relative;
    @include tamaño(300px, 480px);
    margin: 20px;

    .face {
      position: absolute;
      @include tamaño(100%, 100%);
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: 0.5s;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .front {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px $color-fondoglobal;
    }

    .front img {
      position: absolute;
      @include tamaño(100%, 100%);
      object-fit: cover;
    }

    .front h3 {
      position: absolute;
      bottom: 0;
      @include tamaño(100%, auto);
      line-height: 1.2;
      color: black;
      background: rgba($color-fondoglobal, 0.4);
      text-align: center;
      padding: 10px;
      box-sizing: border-box;
    }

    .back {
      transform: perspective(600px) rotateY(180deg);
      background: $color-fondoglobal;
      padding: 15px;
      color: #f3f3f3;
      justify-content: space-between;
      text-align: center;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .back h4 {
      font-size: 30px;
      margin-top: 20px;
      letter-spacing: 2px;
    }

    .back p {
      letter-spacing: 1px;
      margin: 0;
      padding: 10px;
      box-sizing: border-box;
    }

    &:hover .front {
      transform: perspective(600px) rotateY(180deg);
    }

    &:hover .back {
      transform: perspective(600px) rotateY(360deg);
    }
  }

  .servicioContacos {
    @include flexGlobal(null);
    margin-top: 20px;
    margin: 5px;
    overflow: auto;

    p {
      @include flexGlobal(column);
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
    }
  }
  @media screen and (max-width: 768px) {
    .tarjeta0 {
      @include flexGlobal(column, center, null);
    }
  }
  .servicioContacos {
    @include flexGlobal(null);
    margin-top: 20px;
    margin: 5px;
    overflow: auto;

    p {
      @include flexGlobal(column);
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
    }
  }

  @media screen and (max-width: 576x) {
    .tarjeta0 {
      @include flexGlobal(column, center, null);
    }
    .servicioContacos {
      @include flexGlobal(null);
      margin-top: 20px;
      margin: 5px;
      overflow: auto;

      p {
        @include flexGlobal(column);
        margin-bottom: 20px;
      }

      a {
        text-decoration: none;
      }
    }
  }
}