
/*----------------SOBRE MI---------*/
main.sobremMi {
  width: auto;
  height: 100vh;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Inter", sans-serif;
  img {
    width: 50%;
    height: auto;
  }
  section {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    font-size: 14px;
    h2 {
      display: flex;
      justify-content: center;
      text-align: center;
    }
    p {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
}
