/*--header pagina incio ---*/

header {
  @include flexGlobal(null, center, space-between);
  padding: 10px;
  .headerList {
    @include boxModel();
    list-style: none;
    display: flex;
       li {
      margin: 0 10px;
      color: white;
    }
  }
}

/*----- header del resto paginas---*/

.backgroundHeader {
  @include flexGlobal(column, center, flex-start);
  @include bordes(null, 10px, 1px solid #ddd);
  font-family: "Inter", sans-serif;
  background-image: url("../img/headersobremi.png");
  height: 5%;
  background-size: cover; 
  margin: 5px;
  overflow: auto;
}

header {
  @include flexGlobal(null, flex-end, space-between);
  padding: 10px;
  h1 {
    font-size: 50px;
    margin: 10px 0;
    color: white;
    animation: desaparecer 2s infinite;

    @keyframes desaparecer {
      to {
        opacity: 1;
      }
      from {
        opacity: 0;
      }
    }
  }
  #idmobile {
    display: none;
  }
}