// Importar Bootstrap


nav {
  display: flex;
  margin-left: auto;
  // nav del resto
  & {
    @include flexGlobal(row, flex-end, flex-end);
    ul {
      @include boxModel();
      @include flexGlobal(row, null, null);
      li {
        margin: 0, 10px;
        padding: 0, 10px;
      }

      a {
        @include bordes(10px, 50px, null, white);

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
  #idmobile {
    display: none;

    @media screen and (max-width: 576px) {
      display: block;
    }
  }
  #desktop {
    display: block;

    @media screen and (max-width: 576px) {
      display: none;
    }
  }
}

