//base
/*------------estilos globales  */
body {
    margin: 0;
    padding: 0;
    background-color:#d7a9a9;
    font-family: "Inter", sans-serif;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
